a.button.button-mmedia, .button.button-mmedia {
    background: #eb4647;
    border-color: #eb4647;
    color: #fff;
}

.button.button-mmedia-primary {
    background: #246eb9;
    border-color: #246eb9;
    color: #fff;
}

.align-center-mmedia {
    text-align: center;
}
.card {
    margin: 20px auto;
}

/* Hide the Edit Image button from users to avoid confusion since they cant resize/edit M Media images from WordPress */
.attachment-actions > .button.edit-attachment, .attachment-info > .details > .edit-attachment, body.post-type-attachment .wp_attachment_image .button {
	display: none;
}