.button.button-mmedia {
	background: #eb4647;
	border-color:#eb4647;
	color: #fff;
}

.button.button-mmedia-primary {
	background: #246eb9;
	border-color:#246eb9;
	color: #fff;
}

.align-center-mmedia {
	text-align: center;
}
.card {
	margin: 20px auto;
}
